.icon-button {
  background: none;
  border:none;
  /* inherit属性继承父级颜色 */
  color:inherit;
}

.search.form-control {
  height: 100%;
  padding: 0 0 0 10px;
  font-size: 18px;
}

.c-link {
  cursor: pointer;
}