.icon-button {
  background: none;
  border:none;
  /* inherit属性继承父级颜色 */
  color:inherit;
}

.search.form-control {
  height: 100%;
  padding: 0 0 0 10px;
  font-size: 18px;
}

.c-link {
  cursor: pointer;
}

.start-page {
  font-size: 30px;
  height: 300px;
  line-height: 300px;
  color: #ccc;
  text-align: center
}

.left-panel {
  background: #f6f8fc;
  min-height: 100vh;
  position: relative;
}

.button-group {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.no-border {
  border-radius: 0 !important;
}

.editor-toolbar {
  border-top-left-radius:0 !important;
  /* border-top-right-radius:0 !important; */
}

.CodeMirror {
  border-bottom-left-radius:0 !important;
}