body {
    padding: 100px 0;
    background-color: #2b3b49;
    color: #fff;
    text-align: center;
    font-size: 2.5em;
}
input {
    padding: 5px 20px;
    height: 50px;
    background-color: #3b4b59;
    border: 1px solid #c0c0c0;
    box-sizing: border-box;
    color: #fff;
    font-size: 20px;
}
button {
    padding: 5px 20px;
    height: 50px;
    font-size: 16px;
}